
    .spots-container {
        display: flex;
        align-items: center; /* Vertical centering */
        justify-content: center; /* Horizontal centering */
        width: 300px;
        margin: 0 auto; /* Center horizontally within its parent container */
        max-width: 100%; /* To prevent it from exceeding the parent's width */
    }


    .under-img {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 0px;
    }
    #spot-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
        margin-right: 150px;
    }

    .star-review {
        display: flex;
        justify-content:right;
        margin-left: 15px;
    }
