  .hidden {
    display: none;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(173, 173, 173);
    background-color: white;
    /* border: 5px dotted pink; */
}

.napbnb-icon{
  height: 75px;
  width: 140px;
  cursor: pointer;
  mix-blend-mode: multiply;
}

/* #profile-button {
  margin-left: -500px;
  padding: 10px;
  background-color: lightgray;
  border-radius: 25px 25px 25px;
} */
