#profile-button {
    margin-left: -500px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 25px 25px 25px;
    /* border: 5px dotted greenyellow */
  }

  #profile-button > .fa-user-circle {
    width: 30px;

  }

  #profile-button > .fa-bars {
    width: 30px;
    /* border: 5px dotted greenyellow */
  }
